<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="APP" value="shareApp"/>
    <property name="LOG_HOME" value="/home/code/log/${APP}"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">
        <File>${LOG_HOME}/${APP}_detail.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} %X{ServiceId} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_detail.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
    </appender>

	<appender name="ONLY_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<File>${LOG_HOME}/${APP}_error.log</File>
		<encoder>
			<pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0}
				%X{ServiceId} - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP}_error.log.%d{yyyyMMdd}
			</fileNamePattern>
		</rollingPolicy>
	</appender>

    <logger name="org" level="WARN"/>
    <logger name="freemarker" level="WARN"/>
    <logger name="com.octo.captcha" level="WARN"/>

    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DETAIL"/>
        <appender-ref ref="ONLY_ERROR"/>
    </root>
 
 
    
    
</configuration>
